
@{
    ViewBag.Title = "Login";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login V14</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="~/AssetsAu/LoginAssets/images/icons/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="~/AssetsAu/LoginAssets/vendor/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/AssetsAu/LoginAssets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="~/AssetsAu/LoginAssets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">

    <link rel="stylesheet" type="text/css" href="~/AssetsAu/LoginAssets/vendor/animate/animate.css">

    <link rel="stylesheet" type="text/css" href="~/AssetsAu/LoginAssets/vendor/css-hamburgers/hamburgers.min.css">

    <link rel="stylesheet" type="text/css" href="~/AssetsAu/LoginAssets/vendor/animsition/css/animsition.min.css">

    <link rel="stylesheet" type="text/css" href="~/AssetsAu/LoginAssets/vendor/select2/select2.min.css">

    <link rel="stylesheet" type="text/css" href="~/AssetsAu/LoginAssets/vendor/daterangepicker/daterangepicker.css">

    <link rel="stylesheet" type="text/css" href="~/AssetsAu/LoginAssets/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/AssetsAu/LoginAssets/css/main.css">
    <script src="~/AssetsAu/js/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.js" integrity="sha512-xndMzK9x1ZhE9Jsj38+gx8lSAxJ9UZrtsCb8cY9P1QX+X4qBi0F+J/TbxBkywc53w4S2qaaBY/WjvH4bUW4W9Q==" crossorigin="anonymous"></script>
    <script src="~/AssetsAu/js/UpImg_JavaScript.js"></script>
    <script src="~/AssetsAu/js/MyAngularJS.js"></script>
</head>
<body ng-app="AdminApp" ng-controller="LoginController">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
                <form class="login100-form validate-form flex-sb flex-w">
                    <span class="login100-form-title p-b-32">
                        ĐĂNG NHẬP TÀI KHOẢN YUMMY
                    </span>
                    <span class="txt1 p-b-11">
                        Tài khoản
                    </span>
                    <div class="wrap-input100 validate-input m-b-36" data-validate="Username is required">
                        <input ng-model="ad.taiKhoanUS" class="input100" type="text" name="username">
                        <span class="focus-input100"></span>
                    </div>
                    <span class="txt1 p-b-11">
                        Mật khẩu
                    </span>
                    <div class="wrap-input100 validate-input m-b-12" data-validate="Password is required">
                        <span class="btn-show-pass">
                            <i class="fa fa-eye"></i>
                        </span>
                        <input  ng-model="ad.matKhau" class="input100" type="password" name="pass">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="flex-sb-m w-full p-b-48">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Ghi nhớ
                            </label>
                        </div>
                        <div>
                            <a href="#" class="txt3">
                                Quên mật khẩu
                            </a>
                        </div>
                    </div>
                    <div class="container-login100-form-btn">
                        <button  ng-click="login()" class="login100-form-btn">
                            Đăng nhập
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="dropDownSelect1"></div>

    <script src="~/AssetsAu/LoginAssets/vendor/jquery/jquery-3.2.1.min.js"></script>

    <script src="~/AssetsAu/LoginAssets/vendor/animsition/js/animsition.min.js"></script>

    <script src="~/AssetsAu/LoginAssets/vendor/bootstrap/js/popper.js"></script>
    <script src="~/AssetsAu/LoginAssets/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/AssetsAu/LoginAssets/vendor/select2/select2.min.js"></script>

    <script src="~/AssetsAu/LoginAssets/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/AssetsAu/LoginAssets/vendor/daterangepicker/daterangepicker.js"></script>

    <script src="~/AssetsAu/LoginAssets/vendor/countdowntime/countdowntime.js"></script>

    <script src="~/AssetsAu/LoginAssets/js/main.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-23581568-13');
    </script>
</body>

<!-- Mirrored from colorlib.com/etc/lf/Login_v14/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 25 Dec 2020 09:40:42 GMT -->
</html>


