
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminYUMMY | nththaoo</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/AssetsAu/bower_components/Ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/AssetsAu/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/AssetsAu/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/AssetsAu/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/AssetsAu/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="~/AssetsAu/bower_components/morris.js/morris.css">
    <link rel="stylesheet" href="~/AssetsAu/bower_components/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="~/AssetsAu/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/AssetsAu/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/AssetsAu/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link href="~/AssetsAu/css/scud.css" rel="stylesheet" />

    <script src="~/AssetsAu/js/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.js" integrity="sha512-xndMzK9x1ZhE9Jsj38+gx8lSAxJ9UZrtsCb8cY9P1QX+X4qBi0F+J/TbxBkywc53w4S2qaaBY/WjvH4bUW4W9Q==" crossorigin="anonymous"></script>

    <script src="~/AssetsAu/js/UpImg_JavaScript.js"></script>

    <script src="~/AssetsAu/js/MyAngularJS.js"></script>
    <style>
        input[type=file] {
            display: inline-block !important;
        }
    </style>
</head>

<body style="font-family: sans-serif;" class="hold-transition skin-blue sidebar-mini" ng-app="AdminApp">
    <div ng-controller="acc" class="wrapper">

        <header class="main-header">
            <a href="index2.html" class="logo">
                <span class="logo-mini"><b>A</b>YM</span>
                <span class="logo-lg"><b>Admin</b>YUMMY</span>
            </a>
            <nav  class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">Bạn có 4 tin nhắn ?</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start message -->
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/AssetsAu/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Nhóm hỗ trợ duyệt tin
                                                    <small><i class="fa fa-clock-o"></i> 5p</small>
                                                </h4>
                                            </a>
                                        </li>
                                        <!-- end message -->
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/AssetsAu/dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Nhóm thiết kế Yummy
                                                    <small><i class="fa fa-clock-o"></i> 2h</small>
                                                </h4>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/AssetsAu/dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Nhà phát triển Yummy
                                                    <small><i class="fa fa-clock-o"></i> Hôm nay</small>
                                                </h4>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/AssetsAu/dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Bộ phận nhận phản hồi
                                                    <small><i class="fa fa-clock-o"></i> Hôm qua</small>
                                                </h4>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/AssetsAu/dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Người đánh giá
                                                    <small><i class="fa fa-clock-o"></i> 2d</small>
                                                </h4>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">Xem tất cả tin nhắn</a></li>
                            </ul>
                        </li>
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                        </li>
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">9</span>
                            </a>
                        </li>
                        <li  class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{{anh}}" class="user-image" alt="">
                                <span class="hidden-xs">{{ten}}</span>
                            </a>
                            <ul class="dropdown-menu" style=" border: 1px solid #0094ff;">
                                <li class="user-header">
                                    <img src="{{anh}}" class="img-circle" alt="User Image">
                                    <p>
                                       {{ten}}
                                        <small>{{chucvu}}</small>
                                    </p>
                                    <!-- Menu Body -->
                                
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                  
                                        <a href="/Admin/Login" class="btn btn-default btn-flat" ng-click="signout()">Đăng xuất</a>
                                    
                                </li>
                            </ul>
                            </li>
                        
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="{{anh}}"  class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>{{ten}}</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Đang hoạt động</a>
                    </div>
                </div>
                
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">ĐIỀU HƯỚNG CHÍNH</li>
                    <li ng-controller="ThongKeController">
                        <a href="/ThongKe/Index">
                            <i class="fa fa-money"></i> 
                            <span>Thống kê</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-blue">{{ThongKe.BAIVIET}}</small>
                                <small class="label pull-right bg-green">{{ThongKe.BINHLUAN}}</small>
                                <small class="label pull-right bg-yellow">{{ThongKe.CUSTOMER}}</small>
                                <small class="label pull-right bg-red">{{ThongKe.QUANGCAO}}</small>
                            </span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="/QLBaiViet/DanhSachBV">
                            <i class="fa fa-pie-chart"></i>
                            <span>Quản lý bài viết</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/QLBaiViet/DanhSachBV"><i class="fa fa-circle-o"></i>Danh sách bài viết</a></li>
                            <li><a href="/QLBaiViet/ThemBV"><i class="fa fa-circle-o"></i>Thêm bài viết</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="/QLCTBaiViet/DanhSacCThBV">
                            <i class="fa fa-pie-chart"></i>
                            <span>Quản lý chi tiết bài viết</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/QLCTBaiViet/DanhSacCThBV"><i class="fa fa-circle-o"></i>Danh sách chi tiết bài viết</a></li>
                            <li><a href="/QLCTBaiViet/ThemCTBV"><i class="fa fa-circle-o"></i>Thêm chi tiết bài viết</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="">
                            <i class="fa fa-folder"></i> <span>Quản lý danh mục</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/QLBaiViet/DanhSachBV"><i class="fa fa-circle-o"></i>Danh sách danh mục</a></li>
                            <li><a href="/QLBaiViet/DanhSachBV"><i class="fa fa-circle-o"></i>Thêm danh mục</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-folder"></i> <span>Quản lý danh mục con</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/QLBaiViet/DanhSachBV"><i class="fa fa-circle-o"></i>Danh sách danh mục con</a></li>
                            <li><a href="/QLBaiViet/DanhSachBV"><i class="fa fa-circle-o"></i>Thêm danh mục con</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-envelope"></i><span>Quản lý phản hồi</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/QLBaiViet/DanhSachBV"><i class="fa fa-circle-o"></i>Danh sách bình luận</a></li>
                            <li><a href="/QLBaiViet/DanhSachBV"><i class="fa fa-circle-o"></i>Thêm bình luận</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-envelope"></i> <span>Quản lý đáp phản hồi</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/QLBaiViet/DanhSachBV"><i class="fa fa-circle-o"></i>Danh sách đáp phản hồi</a></li>
                            <li><a href="/QLBaiViet/DanhSachBV"><i class="fa fa-circle-o"></i>Thêm đáp phản hồi</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-table"></i> <span>Quản lý quảng cáo</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/QLBaiViet/DanhSachBV"><i class="fa fa-circle-o"></i>Danh sách quảng cáo</a></li>
                            <li><a href="/QLBaiViet/DanhSachBV"><i class="fa fa-circle-o"></i>Thêm quảng cáo</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-edit"></i> <span>Quản lý người dùng</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/QLBaiViet/DanhSachBV"><i class="fa fa-circle-o"></i>Danh sách người dùng</a></li>
                            <li><a href="/QLBaiViet/DanhSachBV"><i class="fa fa-circle-o"></i>Thêm người dùng</a></li>
                        </ul>
                    </li>

                </ul>
            </section>
        </aside>
        <div class="content-wrapper" style="min-height: 864px;">
            @RenderBody()
        </div>
    </div>

    <script src="~/AssetsAu/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/AssetsAu/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script src="~/AssetsAu/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/AssetsAu/bower_components/raphael/raphael.min.js"></script>
    <script src="~/AssetsAu/bower_components/morris.js/morris.min.js"></script>
    <script src="~/AssetsAu/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <script src="~/AssetsAu/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/AssetsAu/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/AssetsAu/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
    <script src="~/AssetsAu/bower_components/moment/min/moment.min.js"></script>
    <script src="~/AssetsAu/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/AssetsAu/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/AssetsAu/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script src="~/AssetsAu/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/AssetsAu/bower_components/fastclick/lib/fastclick.js"></script>
    <script src="~/AssetsAu/dist/js/adminlte.min.js"></script>
    <script src="~/AssetsAu/dist/js/pages/dashboard.js"></script>
    <script src="~/AssetsAu/dist/js/demo.js"></script>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
