
@{
    ViewBag.Title = "DanhSachBV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div ng-controller="DanhSachBVController">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Danh sách bài viết</h3>
                    </div>
                    <div class="col-sm-12">
                        <div class="header-table col-sm-6">
                            <span class="form-group pull-left page-size form-inline">
                                <select class="form-control control-color"
                                        ng-model="pageSize"
                                        ng-change="changePageSize()">
                                    <option value="5" >5</option>
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                </select>
                            </span>
                        </div>
                        <div class="col-sm-6">
                            <a href="/QLBaiViet/ThemBV" class=" btn btn-primary pull-right">Thêm</a>
                        </div>
                    </div>
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Mã BV</th>
                                    <th>MÃ DM</th>
                                    <th>MÃ DMC</th>
                                    <th>Tài khoản</th>
                                    <th>Tiêu đề</th>
                                    <th>Trạng thái</th>
                                    <th>Thời gian</th>
                                    <th>ND nhỏ</th>
                                    <th>Hình ảnh</th>
                                    <th>Sửa/Xóa</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="items in listbv">
                                    <td>{{items.MaBV}}</td>
                                    <td>{{items.MaDM}}</td>
                                    <td>{{items.MaDMC}}</td>
                                    <td>{{items.TaiKhoanUS}}</td>
                                    <td>{{items.TieuDe}}</td>
                                    <td>{{items.TrangThai}}</td>
                                    <td>
                                        {{items.ThoiGianDang | filterdate | date:'dd-MM-yyyy'}}
                                    </td>
                                    <td>
                                        {{items.NoiDungCon}}
                                    </td>
                                    <td>
                                        <img src="{{items.HinhAnh}}" style="width:50px" />
                                    </td>
                                    <td>
                                        <a href="/QLBaiViet/SuaBV/#!?id={{items.MaBV}}">sửa</a>
                                        <input type="button" ng-click="Xoabv(items.MaBV)" name="button" value="xóa">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered">
                            <tfoot>
                                <tr>
                                    <td align="center" colspan="8">
                                        <div>
                                            <div style="display:flex;justify-content:space-between;align-items:center" class="col-xs-pull-6">

                                                <pagination total-items="totalcount" ng-change="pagechanged()" items-per-page="pageSize" direction-links="true" ng-model="pageIndex" max-size="maxsize" class="pagination" boundary-links="true" rotate="false" num-pages="numPages"></pagination>

                                                <a class=" btn btn-primary pull-right">Page: {{pageIndex}} / {{numPages}}</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
