<div class="aside-widget text-center" ng-controller="imgQuangCaoPost450x360">
    <a href="#" style="display: inline-block;margin: auto;">
        <img class="img-responsive" src="{{hinhAnh}}" alt="">
    </a>
</div>
