<!-- newsletter widget -->
<div id="email" ng-controller="myGmail" class="aside-widget">
    <div class="section-title">
        <h2 class="title">Liên hệ với tôi</h2>
    </div>
    <div class="newsletter-widget">
        <form>
            <p>Thêm Email để chúng ta cùng nhau chia sẻ ẩm thực.</p>
            <input ng-model="mail" class="input" name="newsletter" placeholder="Nhập Email...">
            <button ng-click="sendMe()" class="primary-button">Đăng ký</button>
        </form>
    </div>
</div>
<!-- /newsletter widget -->
