<!-- Main Nav -->
<div id="nav-bottom" ng-controller="getMenu">
    <div class="container">
        <ul class="nav-menu">
            <li class="has-dropdown" ng-repeat="item in menus">
                <a href="#">{{item.TenDM}}</a>
                <div class="dropdown">
                    <div class="dropdown-body">
                        <ul class="dropdown-list">
                            <li ng-repeat="key in item.children">
                                <a onclick="setTimeout(function () { window.location.reload() }, 100)" href="/baiViet/baiviettheoloai#!?maLoai={{key.madmc}}" >
                                    {{key.tendmc}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- Main Nav -->
