<div class="aside-widget">
    <div class="section-title">
        <h2 class="title">Instagram</h2>
    </div>
    <div class="galery-widget">
        <ul>
            <li><a href="https://www.instagram.com/nththaoo/"><img src="~/Assests/img/galery-1.jpg" alt=""></a></li>
            <li><a href="https://www.instagram.com/nththaoo/"><img src="~/Assests/img/galery-2.jpg" alt=""></a></li>
            <li><a href="https://www.instagram.com/nththaoo/"><img src="~/Assests/img/galery-3.jpg" alt=""></a></li>
            <li><a href="https://www.instagram.com/nththaoo/"><img src="~/Assests/img/galery-4.jpg" alt=""></a></li>
            <li><a href="https://www.instagram.com/nththaoo/"><img src="~/Assests/img/galery-5.jpg" alt=""></a></li>
            <li><a href="https://www.instagram.com/nththaoo/"><img src="~/Assests/img/galery-6.jpg" alt=""></a></li>
        </ul>
    </div>
</div>