<div id="nav-bottom" ng-controller="getMenu">
    <div class="container">
        <ul class="nav-menu" ng-repeat="item in menus">         
            <li class="has-dropdown">
                <a href="#">Ví dụ</a>
                <div class="dropdown">
                    <div class="dropdown-body">
                        <ul class="dropdown-list">
                            <li><a href="category.html">Ẩm thực ba miền</a></li>
                            <li><a href="blog-post.html">Nấu nướng</a></li>
                            <li><a href="author.html">Thế giới món ngon</a></li>
                            <li><a href="about.html">Văn hoá ẩm thực</a></li>
                            <li><a href="contact.html">Món ăn và sức khoẻ</a></li>
                            <li><a href="blank.html">Dạy nấu ăn pha chế</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
        <!-- /nav -->
    </div>
</div>
