<div class="aside-widget text-center">
    <a href="author.html" style="display: inline-block;margin: auto;">
        <img style="border-radius: 50%; margin: auto;" class="img-responsive" src="~/Assests/images/avt.jpg" alt="">
        <p> Góc nhỏ mày mò chia sẻ công thức nấu ăn, làm bánh, review đồ bếp. Chia sẻ tình yêu gia đình, bếp, vườn, chụp ảnh, du lịch...</p>
    </a>
</div>
