<!-- category widget -->

<div class="aside-widget">
    <div class="section-title">
        <h2 class="title">DANH MỤC</h2>
    </div>
    <div class="category-widget" ng-controller="_DanhMucPost">
        <ul>
            <li ng-repeat="item in listDanhMuc"><a href="#">{{item.TenDM}}<span>{{item.LuotXem}}</span></a></li>
        </ul>
    </div>
</div>
<!-- /category widget -->
